{% extends "base/base_content.html" %}

{% block page_title %}Daftar Mata Pelajaran{% endblock %}

{% block page_header %}
    Daftar Mata Pelajaran
{% endblock %}

{% block page_content %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Mata Pelajaran</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in mapel -%}
                    <tr>
                        <td>
                            {{loop.index}}
                        </td>
                        <td>
                            {{item[0]}}
                        </td>
                        <td>
                            <a href="{{ url_for('mapel.mapel_lihat', mapel=item[0]) }}"><button class="btn btn-info">i</button></a>
                            <a href="#"><button class="btn btn-danger">d</button></a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="#"><button class="btn btn-success">Tambah Mata Pelajaran</button></a>

{% endblock %}